.bigcard{
    .row{
        display: flex;
        justify-content: space-around;
    }
    &__img{
        height: 520px;
    }
    &__name{
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #1D1F2E;
    }
    &__price{
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        color: rgba(29, 31, 46, 0.7);
        margin-bottom: 120px;
        span{
            margin-left: 5px;
            font-size: 16px;
            text-decoration-line: line-through;
            color: rgba(29, 31, 46, 0.4);
        }
    }
    .grey{
        margin-left: 5px;
        font-size: 16px;
        color: rgba(29, 31, 46, 0.4);
    }
}