.info{
    .row{
        display: flex;
        column-gap: 20px;
    }
    &__img{
        width: 300px;
        height: 300px;
    }
    &__title{
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        width: 290px;
        color: #1D1F2E;
    }
    &__desc{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: rgba(29, 31, 46, 0.7);
    }
    &__date{
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #1D1F2E;
        margin-bottom: 190px;
    }
}