.updates{
    position: relative;
    color: #FFFFFF;
    &__img{
        max-width: calc(100% - 60px);
        transform: translate(calc(50% - 50%));
        height: 370px;
        padding: 0 30px 0 30px;
        margin-bottom: 107px;
    }
    &__subtitle{
        position: absolute;
        width: 70%;
        left: calc(50% - 35%);
        top: calc(50% - 140px);
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    &__title{
        position: absolute;
        left: calc(50% - 253px/2);
        top: calc(50% - 120px);
        font-weight: normal;
        font-size: 36px;
    }
    .block{
        position: absolute;
        left: calc(50% - 500px/2);
        top: calc(50% - 10px);
        input{
            width: 350px;
            border: 1px solid rgba(47, 48, 62, 1);
            background: #1D1F2E;
            color: #FFFFFF;
            padding: 18px 0 18px 18px;
        }
        button{
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #000000;
            background: #FFFFFF;
            padding: 19px 25px;
            margin-left: 10px;
            border: 0;
        }
    }
}