.container{
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.subtitle{
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    margin-bottom: 100px;
}