@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 1px solid transparent;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  background-color: transparent;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.modal-container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subtitle {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  margin-bottom: 100px;
}

header {
  position: relative;
}

header .navbar {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .navbar-logo {
  cursor: pointer;
}

header .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 0px 0px 0px;
  margin-left: -30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header .navbar-nav .nav-item a {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  text-decoration: none;
}

header .navbar .header-imgs {
  position: relative;
  top: 1px;
  right: 50px;
}

header .navbar .header-imgs p {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  cursor: pointer;
}

header .navbar .header-imgs__first {
  position: absolute;
  top: -1px;
  right: 45px;
  width: 20px;
  cursor: pointer;
}

header .navbar .header-imgs__second {
  position: absolute;
  width: 16px;
  top: 0px;
  right: -28px;
  cursor: pointer;
}

.header.basket-header {
  background: #dbdbde;
}

.home {
  color: #ffffff;
}

.home__img {
  max-width: calc(100% - 60px);
  -webkit-transform: translate(calc(50% - 50%));
          transform: translate(calc(50% - 50%));
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 30px 100px 30px;
}

.home__text1 {
  position: absolute;
  top: 185px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home__title {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 47px;
}

.home__text2 {
  position: absolute;
  top: 290px;
  left: 50%;
  width: 85%;
  text-align: center;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 17px;
}

.home__btn {
  position: absolute;
  top: 365px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #FFFF;
  color: #1d1f2e;
  border: 0;
  padding: 8px 25px;
}

.about__title {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  color: #1D1F2E;
}

.about__desc {
  width: 68%;
  -webkit-transform: translate(22%);
          transform: translate(22%);
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
}

.about__read {
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #A25F4B;
  margin-bottom: 120px;
}

.about__read::after {
  content: '';
  position: absolute;
  width: 133px;
  height: 2px;
  top: 950px;
  left: calc(50% - 133px/2);
  background: rgba(162, 95, 75, 0.3);
}

.bigcard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bigcard__img {
  height: 520px;
}

.bigcard__name {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #1D1F2E;
}

.bigcard__price {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 120px;
}

.bigcard__price span {
  margin-left: 5px;
  font-size: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(29, 31, 46, 0.4);
}

.bigcard .grey {
  margin-left: 5px;
  font-size: 16px;
  color: rgba(29, 31, 46, 0.4);
}

.smallcard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.smallcard .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smallcard__name {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #1D1F2E;
  margin: 10px;
  cursor: pointer;
}

.smallcard__name:active {
  background: #3b3b3b;
}

.smallcard__price {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #a25f4b;
}

.smallcard__price span {
  margin-left: 5px;
  font-size: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgba(29, 31, 46, 0.4);
}

.smallcard__price-grey {
  font-size: 16px;
  text-align: center;
  color: rgba(29, 31, 46, 0.4);
  margin-bottom: 165px;
}

.magazine__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: 430px;
}

.magazine__img {
  width: 280px;
  height: 280px;
  margin-bottom: 130px;
}

.magazine__img1 {
  margin-bottom: 16px;
}

.magazine .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.magazine .content .text {
  font-weight: normal;
  width: 150px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  margin: 0 0 14px 60px;
}

.magazine .content .title {
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  width: 250px;
  color: #1D1F2E;
  margin: 0 0 14px 60px;
}

.magazine .content .desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  width: 300px;
  color: rgba(29, 31, 46, 0.7);
  margin: 0 0 25px 60px;
}

.magazine .content .btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1D1F2E;
  border: 0px;
  padding: 15px 20px;
  margin: 0 0 0 60px;
  width: 175px;
}

.bg .img {
  width: 100%;
  margin-bottom: 100px;
  max-width: calc(100%);
  -webkit-transform: translate(calc(50% - 50%));
          transform: translate(calc(50% - 50%));
}

.info .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.info__img {
  width: 300px;
  height: 300px;
}

.info__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  width: 290px;
  color: #1D1F2E;
}

.info__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
}

.info__date {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
  margin-bottom: 190px;
}

.updates {
  position: relative;
  color: #FFFFFF;
}

.updates__img {
  max-width: calc(100% - 60px);
  width: 100%;
  -webkit-transform: translate(calc(50% - 50%));
          transform: translate(calc(50% - 50%));
  height: 370px;
  padding: 0 30px 0 30px;
  margin-bottom: 107px;
}

.updates__subtitle {
  position: absolute;
  width: 70%;
  left: calc(50% - 35%);
  top: calc(50% - 140px);
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.updates__title {
  position: absolute;
  left: calc(50% - 253px/2);
  top: calc(50% - 120px);
  font-weight: normal;
  font-size: 36px;
}

.updates .block {
  position: absolute;
  left: calc(50% - 500px/2);
  top: calc(50% - 10px);
}

.updates .block input {
  width: 350px;
  border: 1px solid #2f303e;
  background: #1D1F2E;
  color: #FFFFFF;
  padding: 18px 0 18px 18px;
}

.updates .block button {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  padding: 19px 25px;
  margin-left: 10px;
  border: 0;
  cursor: pointer;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.footer__desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  width: 258px;
  margin: 20px 0 80px 0;
}

.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.3);
  margin-bottom: 60px;
}

.footer__list_item1 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  margin-bottom: 23px;
  cursor: pointer;
}

.footer__list_item {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 10px;
  cursor: pointer;
}

.footer__email {
  font-weight: normal;
  font-size: 23px;
  line-height: 36px;
  color: #1d1f2e;
  margin-bottom: 60px;
  cursor: pointer;
}

.footer.basket-footer {
  background: #dbdbde;
  padding: 50px;
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .header .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .navbar .header-imgs {
    right: 20px;
  }
  .bigcard .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bigcard__img {
    width: 324px;
    height: 67%;
    text-align: center;
  }
  .bigcard__price {
    margin-bottom: 30px;
  }
  .smallcard {
    margin: 0 auto;
  }
  .smallcard .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 324px;
    margin-bottom: 16px;
  }
  .smallcard__img {
    width: 324px;
    height: 404px;
    text-align: center;
    margin-bottom: 16px;
  }
  .smallcard .row3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 324px;
    margin-bottom: 16px;
  }
  .smallcard__price {
    margin: 0 5px 40px 0;
  }
  .smallcard__price-grey {
    margin: 0 5px 40px 0;
  }
  .magazine {
    margin: 0;
  }
  .magazine .magazine__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 324px;
  }
  .magazine__img {
    width: 324px;
    margin-bottom: 3px;
  }
  .magazine__img1 {
    margin-bottom: 0;
  }
  .magazine .content .text {
    margin: 0 auto;
    width: 323px;
    margin-top: 30px;
    text-align: center;
  }
  .magazine .content .title {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
  }
  .magazine .content .desc {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .magazine .content .btn {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .info .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 324px;
  }
  .info__img {
    width: 324px;
    height: 324px;
    text-align: center;
  }
  .info__title {
    width: 324px;
    text-align: center;
  }
  .info__desc {
    width: 324px;
    text-align: center;
  }
  .info__date {
    margin-bottom: 100px;
    text-align: center;
  }
  .bg .img {
    margin-bottom: 30px;
  }
  .basket {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .carusel {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
  .navigation-manual {
    max-width: 500px;
    width: 100%;
  }
  .slide img {
    max-width: 700px;
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .header .open-btn {
    display: block;
    z-index: 100;
  }
  .header .navbar {
    display: none;
  }
  .home__text1 {
    top: 120px;
  }
  .home__title {
    top: 140px;
  }
  .home__text2 {
    top: 240px;
  }
  .home__btn {
    top: 330px;
  }
  .updates__subtitle {
    top: calc(50% - 180px);
  }
  .updates__title {
    font-size: 28px;
    top: calc(50% - 160px);
    left: 50%;
    width: 200px;
    -webkit-transform: translate(calc(50% - 97.777777%));
            transform: translate(calc(50% - 97.777777%));
  }
  .updates .block {
    margin: 0 auto;
    position: relative;
  }
  .updates .block input {
    position: absolute;
    padding: 20px 20px;
    width: 33%;
    bottom: 250px;
    left: 22.7%;
  }
  .updates .block button {
    position: absolute;
    padding: 20px 20px;
    width: 33.22%;
    bottom: 180px;
    left: 21%;
  }
  .footer .container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0;
  }
  .footer .row1 {
    position: absolute;
    top: 0;
    left: 16%;
  }
  .footer .row4 {
    position: absolute;
    top: 0;
    left: 90%;
  }
  .footer .row3 {
    position: absolute;
    top: 170px;
    left: 90%;
  }
  .footer .row2 {
    position: absolute;
    top: 170px;
    left: 16%;
  }
  .footer__list_item {
    margin-bottom: 0;
  }
  .footer__list_item1 {
    margin-bottom: 24px;
  }
  .footer__email {
    margin-bottom: 28px;
    font-size: 22px;
  }
  .footer__desc {
    margin-bottom: 40px;
  }
  .footer__copyright {
    margin-bottom: 0;
  }
  .slider-slide {
    width: 20%;
    -webkit-transition: 2s;
    transition: 2s;
  }
  .slider-slide img {
    width: 100%;
    height: 200px;
    border-radius: 30px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 375px;
  }
  .home__img {
    height: 400px;
    max-width: calc(100% - 40px);
    padding: 0 20px 40px 20px;
  }
  .home__text1 {
    font-size: 14px;
    top: 50px;
    left: 53%;
    width: 250px;
  }
  .home__title {
    font-size: 30px;
    top: 80px;
  }
  .home__text2 {
    font-size: 14px;
    top: 130px;
    width: 270px;
  }
  .home__btn {
    top: 230px;
    width: 220px;
    font-size: 10px;
    background-color: #ffff;
  }
  .about__title {
    font-size: 20px;
  }
  .about__read {
    margin-bottom: 100px;
  }
  .about__read::after {
    top: 900px;
  }
  .updates__subtitle {
    top: calc(50% - 180px);
  }
  .updates__title {
    font-size: 28px;
    top: calc(50% - 160px);
    left: 50%;
    width: 200px;
    -webkit-transform: translate(calc(50% - 97.777777%));
            transform: translate(calc(50% - 97.777777%));
  }
  .updates .block {
    margin: 0 auto;
    position: relative;
  }
  .updates .block input {
    position: absolute;
    padding: 20px 20px;
    min-width: 232px;
    width: 33%;
    bottom: 250px;
    left: 22.7%;
    -webkit-transform: translate(28px);
            transform: translate(28px);
  }
  .updates .block button {
    position: absolute;
    padding: 20px 20px;
    min-width: 230px;
    width: 33.22%;
    bottom: 180px;
    left: 21%;
    -webkit-transform: translate(28px);
            transform: translate(28px);
  }
  .bigcard .subtitle {
    margin-bottom: 70px;
  }
  .magazine .subtitle {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .magazine .content .btn {
    margin-bottom: 60px;
  }
  .footer .row1 {
    position: absolute;
    top: 0;
    left: 60px;
  }
  .footer .row4 {
    position: absolute;
    top: 0;
    left: 310px;
  }
  .footer .row3 {
    position: absolute;
    top: 170px;
    left: 310px;
  }
  .footer .row2 {
    position: absolute;
    top: 170px;
    left: 20px;
  }
  .footer__list_item {
    margin-bottom: 0;
  }
  .footer__list_item1 {
    margin-bottom: 24px;
  }
  .footer__email {
    margin-bottom: 28px;
    font-size: 22px;
  }
  .footer__desc {
    margin-bottom: 40px;
  }
  .footer__copyright {
    margin-bottom: 0;
  }
  .slider-slide img {
    height: 300px;
  }
}

@media (max-width: 560px) {
  .updates__subtitle {
    top: calc(50% - 140px);
  }
  .updates__title {
    font-size: 28px;
    top: calc(50% - 110px);
    left: 50%;
    width: 200px;
    -webkit-transform: translate(calc(50% - 97.777777%));
            transform: translate(calc(50% - 97.777777%));
  }
  .updates__img {
    margin-bottom: 0;
  }
  .updates .block {
    margin: 0 auto;
    position: relative;
  }
  .updates .block input {
    position: absolute;
    padding: 20px 20px;
    min-width: 232px;
    width: 33%;
    bottom: 140px;
    left: 23.5%;
    -webkit-transform: translate(28px);
            transform: translate(28px);
  }
  .updates .block button {
    position: absolute;
    padding: 20px 20px;
    min-width: 233px;
    width: 33.22%;
    bottom: 60px;
    left: 21%;
    -webkit-transform: translate(28px);
            transform: translate(28px);
  }
  .footer .container {
    position: relative;
    width: auto;
    height: 350px;
    margin-top: 30px;
  }
  .footer .row1 {
    position: absolute;
    top: 0;
    left: 40px;
  }
  .footer .row4 {
    position: absolute;
    top: 150px;
    left: 40px;
  }
  .footer .row3 {
    position: absolute;
    top: 270px;
    left: 200px;
  }
  .footer .row2 {
    position: absolute;
    top: 270px;
    left: 40px;
  }
  .footer__list_item {
    margin-bottom: 0;
  }
  .footer__list_item1 {
    margin-bottom: 0;
  }
  .footer__email {
    margin-bottom: 0;
    font-size: 22px;
  }
  .footer__desc {
    margin-bottom: 0;
    width: auto;
  }
  .footer__copyright {
    margin-bottom: 0;
  }
  .slider-slides {
    height: 100%;
  }
  .slider-slide img {
    height: 300px;
  }
}

.slider {
  border-radius: 30px;
  max-width: 800px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-slides {
  width: 500%;
  height: 500px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-slides input {
  display: none;
}

.slider-slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.slider-slide img {
  width: 100%;
  height: 500px;
  border-radius: 30px;
}

.slider-navigation-manual {
  position: absolute;
  max-width: 800px;
  width: 100%;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-navigation-manual .manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider-navigation-manual .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.slider-navigation-manual .manual-btn:hover {
  background: #c19926;
}

.slider #radio1:checked ~ .first {
  margin-left: 0;
}

.slider #radio2:checked ~ .first {
  margin-left: -20%;
}

.slider #radio3:checked ~ .first {
  margin-left: -40%;
}

.slider #radio4:checked ~ .first {
  margin-left: -60%;
}

.slider-navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 460px;
}

.slider-navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.slider-navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.slider #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #fff;
}

.slider #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #fff;
}

.slider #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #fff;
}

.slider #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #fff;
}

@media (max-width: 560px) {
  .slider-slides {
    height: 100%;
  }
  .slider-slide img {
    height: 300px;
  }
}

.burger-btn {
  position: absolute;
  right: 6%;
  top: 10px;
  background: #050827;
  border: none;
}

.close-btn {
  position: absolute;
  left: 7%;
  top: 8px;
  color: #fff;
  background: #050827;
  border: none;
  font-size: 24px;
  z-index: 200;
}

.open-btn {
  display: none;
}

.burger {
  display: none;
  position: absolute;
  z-index: 5;
  height: 400px;
  width: 300px;
  right: 4.4444%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  opacity: 0.9;
}

.btn-up {
  position: fixed;
  right: 6%;
  bottom: 2%;
  z-index: 100;
}

.btn-up-img {
  width: 30px;
  height: 30px;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.burger__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  color: #000;
}

.burger__menu h2 {
  margin: 0 0 10px;
}

.burger__link {
  color: #000;
}

.open-btn_img {
  width: 20px;
  height: 20px;
}

* {
  scroll-behavior: 5000ms;
  -webkit-transition-duration: 5000ms;
          transition-duration: 5000ms;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.95);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content {
  width: 350px;
  height: 450px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.modal-header {
  background: #fff;
  height: 50px;
  border-radius: 30px 30px 0 0;
}

.modal-header a .header-logo {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 0 0 10px 0;
}

.modal-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(6, 6, 40, 0.6);
  gap: 30px;
  font-family: "Karla", sans-serif;
}

.modal-body__title {
  margin-top: 20px;
  letter-spacing: 2px;
  color: #fff;
}

.modal-body__input {
  max-width: 250px;
  width: 100%;
  border-radius: 30px;
  min-height: 35px;
  font-size: 14px;
  padding-left: 20px;
  color: #3b3b3b;
  background-color: #ffffff;
  border: 1px solid #a1a1a1;
}

.modal-body__input:active {
  color: #adff2f;
}

.modal-body__input::-webkit-input-placeholder {
  color: #78808f;
}

.modal-body__input:-ms-input-placeholder {
  color: #78808f;
}

.modal-body__input::-ms-input-placeholder {
  color: #78808f;
}

.modal-body__input::placeholder {
  color: #78808f;
}

.modal-body__btn {
  position: relative;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
  color: #78808f;
  font-weight: normal;
  width: 160px;
  height: 40px;
  border-radius: 30px;
}

.modal-body__btn:hover {
  top: 2px;
  background: #333;
}

.modal-body__btn:active {
  color: #adff2f;
}

.modal-body__auth {
  max-width: 335px;
  width: calc((100% - 20%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 35px;
  background: #060628;
  gap: 30px;
}

.modal-body__auth p {
  font-size: 16px;
  color: #ffffff;
}

.modal-body__auth button {
  font-size: 14px;
  color: #ffffff;
}

@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 996px;
  }
}

.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
}

.basket-line {
  margin: 30px 0;
}

.basket__btn {
  max-width: 100%;
  margin-top: 29px;
  padding: 10px 30px;
  border: 1px #A1A1A1 solid;
}

.basket__btn:hover {
  background: #333;
}

.basket__breadcrumps {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  color: #031412;
}

.basket__title {
  font-family: "Lighthaus", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 106%;
  color: #031412;
  margin-top: 24px;
  margin-bottom: 27px;
}

.basket__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.basket__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.basket__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  line-height: 132%;
  color: #A1A1A1;
  padding-bottom: 14px;
  position: relative;
}

.basket__head div:nth-child(1) {
  max-width: 533px;
  width: 100%;
}

.basket__head div:nth-child(2) {
  max-width: 190px;
  width: 100%;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  padding: 18px 0 18px 0;
  border-top: 1px solid #e6e8e7;
}

.basket__item__img {
  width: 1%;
  height: 1%;
}

.basket__item div:nth-child(1) {
  max-width: 90px;
  width: 100%;
}

.basket__item div:nth-child(2) {
  max-width: 378px;
  width: 100%;
}

.basket__item div:nth-child(3) {
  max-width: 158px;
  width: 100%;
}

.basket__item div:nth-child(4) {
  max-width: 138px;
  width: 100%;
}

.basket__item h3 {
  font-size: 18px;
  font-style: 'Bold';
  line-height: 132%;
  padding-top: 7%;
  font-weight: 800;
  color: #031412;
}

.basket__item button {
  background: url(../Images/basket/Layer.svg) no-repeat;
  width: 10px;
  height: 18px;
  border: none;
}

.basket__count {
  font-weight: 600;
  font-size: 20px;
  line-height: 132%;
  padding-top: 25%;
  color: #031412;
}

.basket .price__skide {
  padding-top: 20%;
  line-height: 96%;
  font-size: 14px;
  font-weight: 600;
  color: #a1a1a1;
  position: relative;
}

.basket .price__skide::before {
  content: '';
  position: absolute;
  top: 33px;
  left: 0px;
  width: 59px;
  height: 1px;
  background: gray;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.basket .price__pr {
  font-size: 20px;
  line-height: 132%;
  font-weight: 800;
  color: #9B0000;
}

.basket .price__p {
  font-size: 20px;
  font-weight: 600;
  color: #031412;
  line-height: 132%;
  padding-top: 30%;
}

.basket__boxtotal {
  background-color: #ffffff;
  border: 1px solid #A1A1A1;
  -webkit-box-shadow: 40px, 0, 0, 0, rgba(0, 0, 0, 0.5);
          box-shadow: 40px, 0, 0, 0, rgba(0, 0, 0, 0.5);
  padding: 30px;
  min-width: 446px;
  position: relative;
}

.basket__boxtotal_total h2 {
  line-height: 96%;
  font-weight: 400;
  font-size: 35px;
  color: #000;
  padding-bottom: 20px;
}

.basket__boxtotal_total h4 {
  line-height: 96%;
  font-weight: 800;
  font-size: 40px;
  color: #000;
}

.basket__boxtotal_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket__boxtotal_order p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Mont", sans-serif;
  font-weight: 600;
  line-height: 116%;
  color: #A1A1A1;
}

.basket__boxtotal_order img {
  padding-top: 10px;
  margin-right: 19px;
}

.basket__boxtotal-cart {
  overflow: hidden;
  position: absolute;
  top: -31px;
  width: 170px;
  height: 170px;
  top: 0;
  right: 0;
}

.basket__boxtotal-cart img {
  position: absolute;
  top: -31px;
}

.basket__btnback {
  margin: 30px 0 120px 0;
}

.basket__btnback button {
  font-weight: 600;
  font-size: 16px;
  line-height: 86%;
  color: #3b3b3b;
  background: #FFFFFF;
  border: 1px solid #A1A1A1;
  max-width: 300px;
  width: 100%;
  height: 40px;
}

.basket__btnback button:hover {
  background: #333;
}
/*# sourceMappingURL=index.css.map */